repo: git@github.com:mquintus/l33tcode-reload.git
append:
    - file: README.md
      match: "## Daily Challenges\\n\\n| Date       |   #  | Title                         | Solution | Difficulty |\\n|------------|------| ----------------------------- | -------- | ---------- | \\n"
      append: "| {date} | [{number}](https://www.leetcode.com/problems/{titleSlug}/) | [{title}](./Daily_Challenge/{myTitleSlug}.md) | [Python](./Daily_Challenge/{myTitleSlug}.py) | {difficulty} |\\n"
create:
    - file: "./Daily_Challenge/{myTitleSlug}.md"
      insert: "{content}"
    - file: "./Daily_Challenge/{myTitleSlug}.py"
      insert: "# {number} - {title}\\n"
commitmsg: "New day, new challenge: #{number}. {title}"