repo: git@github.com:mquintus/l33tcode-testcase-generator.git
append:
    - file: README.md
      match: "|------------|------|--------------------------|------------------------------|-----------|--------|\\n"
      append: "| `{date}` | [{number}](https://www.leetcode.com/problems/{titleSlug}/) | {title} | {topictag} | [/source/Generator{number}.py](/source/Generator{number}.py) | [/generated/{myTitleSlug}.txt](/generated/{myTitleSlug}.txt) |\\n"
prepend:
    - file: source/lib_main.py
      match: "        # insert next challenge here\\n"
      prepend: "        {number},\\n"
    - file: source/lib_main.py
      match: "    # insert next challenge import here\\n"
      prepend: "    if int(challenge_id) == {number}:\\n        from . import Generator{number}\\n        tests = Generator{number}.generate()\\n\\n"
replace:
    - file: README.md
      matchbegin: "# Daily Challenge\\n"
      matchend: "\\n# L33tcode test case generator"
      replace: "\\n```\\n{testcases}\\n```\\n\\n## [Click to see the code that generated these testcases for challenge {number}](/source/Generator{number}.py)\\n"
create:
    - file: "./generated/{myTitleSlug}.txt"
      insert: "{testcases}"
    - file: "./source/Generator{number}.py"
      insert: "import random\\n\\n'''\\n{number} - {title}\\n'''\\ndef generate() -> str:\\n    tests = []\\n    min_num = 2\\n    max_num = 10**4\\n    minval = -1000\\n    maxval = 1000\\n\\n    n = min_num\\n    test = [random.randint(minval, maxval) for _ in range(n)]\\n    tests.append(test.__str__().replace(' ', ''))\\n    \\n    n = max_num\\n    test = [random.randint(minval, maxval) for _ in range(n)]\\n    tests.append(test.__str__().replace(' ', ''))\\n    \\n    return '''\\n'''.join(tests)\\n"
commitmsg: "Testcase generator for challenge: #{number}. {title}"
